$blue: #3bbfce;
$margin: 16px;

$font-stack:    Helvetica, sans-serif;
$primary-color-1: #333;
$primary-color-2: #333;
$primary-color-3: #333;
$primary-color-4: #999;

$navbarbg: #fff;
$navbarborder: #8cc63f;
$bodybg: #eceff1;
$thumbnailbg:#999;
$white: #fff;
$black: #000;