<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-md-6">Add New Comment</div>
  </div>
  <div class="panel-body">

    {{user-form submit="createFeedback" submitTitle="Create Feedback" cancel="cancel"}}
</div>
