<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-md-6">Comment ID:  {{id}}</div>
  </div>
  <div class="panel-body">
    {{edit-comment submit="submit" cancel="cancel" delete="delete" theid=id userName = userName email = email type = type createDate = createDate subject = subject description = description}}
  </div>
</div>
