<div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <h2>Application Dashboard</h2>
	  <div class="row">
	<div class="col-xs-6 col-md-3">
		{{#link-to 'budget' class="thumbnail text-center"}}
		<h3><i class="fa fa-money fa-2x"></i><br />Budget &amp;<br />Benefit{{/link-to}}</h3>
	</div>
	<div class="col-xs-6 col-md-3">
		{{#link-to 'charting' class="thumbnail text-center"}}
		  <h3><i class="fa fa-bar-chart fa-2x"></i><br />Charting &amp;<br /> Reporting</h3>
		{{/link-to}}
	</div>

	<div class="col-xs-6 col-md-3">
		{{#link-to 'data-research' class="thumbnail text-center"}}
		  <h3><i class="fa fa-bullseye fa-2x"></i><br />Charting &amp;<br /> Data Research</h3>
		{{/link-to}}
	</div>

	</div>
	</div>
</div>
