<div class="col-sm-6 col-md-4">
  <div class="thumbnail text-center">
    <img src="http://fpoimg.com/300x195">
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail text-center">
    <img src="http://fpoimg.com/300x195">
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail text-center">
    <img src="http://fpoimg.com/300x195">
  </div>
</div>