  <div class="col-md-12" id="groupedby">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped By</div>
      <div class="panel-body">
        <h5>Drag Groupings Here</h5>
    </div>
</div><!-- col-md-4 -->    