<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Recurrence Pattern</div>
    <div class="panel-body">
      <ul class="list-inline">
        <li>
          <div class="radio">
              <input type="radio" id="inlineRadio1" value="option1" name="radioInline">
              <label for="inlineRadio1"> None </label>
          </div>
        </li>
        <li>
          <div class="radio">
              <input type="radio" id="inlineRadio2" value="option1" name="radioInline">
              <label for="inlineRadio2"> Daily </label>
          </div>
        <li>
          <div class="radio">
              <input type="radio" id="inlineRadio3" value="option1" name="radioInline">
              <label for="inlineRadio3"> Weekly </label>
          </div>
        </li>
        <li>
          <div class="radio">
              <input type="radio" id="inlineRadio4" value="option1" name="radioInline">
              <label for="inlineRadio4"> Monthly </label>
          </div>

        <li>
          <div class="radio">
              <input type="radio" id="inlineRadio5" value="option1" name="radioInline">
              <label for="inlineRadio5"> Yearly </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div><!-- col-md-3 -->