<a tab-index="0" class="btn btn-default info-popover" role="button" data-toggle="popover" {{bind-attr title="name"}} data-content="Attribute definition will go here.">
	<i class="fa fa-info-circle"></i>
</a>


